*{
    margin: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #191919;
}

span{
    width:2.5rem;
    aspect-ratio: 1;
    border: 20px solid #714B67;
    border-radius: 50%;
    margin: 1px;
}

.line{
    background: #8F8F8F;
    width: 20px;
    height: 61px;
    border-radius: 15px;
    margin: 0 1px 48px -21px;
}

.d, .so, .to{
    border-color: #8F8F8F;
}

@media only screen and (max-width: 600px) {
    span {
        width: 1.5rem;
        border: 10px solid #714B67;
    }

    .line {
        width: 7px;
        height: 29px;
        margin: 0 1px 25px -8px;
    }
}
